* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif, sans-serif;
	color: white;	
}


body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 20px;
}

footer {
    height: 10px;
}

.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: blue;
}

/* navigation links */

#navlinks {
    font-size: 110%;
    letter-spacing: 4px;
}

#navlinks #logo {
    line-height: 75px;
}

#navlinks li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navlinks a {
    text-decoration: none;
    color: inherit;
}

#navlinks a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Meet Coco */

#meet-coco {
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* center image */

#welcome {
    padding-top: 50px;
    font-size: 200%;
    text-align: center;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: gold;
    border-width: 0px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/main.jpg") no-repeat center center;
    height: 100%;
    padding: 30px;
	border-style: solid;
	border-width: 10px;
	border-color: gold;
    border-radius: 50%;
	
    /* animates the zoom effect on loading page */
    animation-name: coco-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for the Coco image */
@keyframes coco-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1)
    }
}


#bookit {
	text-align: center;
	margin-bottom: 10px;
}

#map-wrapper {
	text-align: center;
    height: 175px;
    margin-bottom: 5px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 5px;
}

#gallery > img {
    width: 100%;
	margin-bottom: 5px;
}

#bloghead {
    padding-top: 50px;
    font-size: 200%;
    text-align: center;
}
.blogpost {
    padding: 10px;
	text-align:center;
}

#aboutu {
    padding-top: 50px;
    font-size: 200%;
    text-align: center;
    text-transform: capitalize;
 }