@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  color: whitesmoke;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 20px;
}

footer {
    height: 10px;
}

.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    color: blue;
}

/* navigation links */

#navlinks {
    font-size: 110%;
    letter-spacing: 4px;
    padding-bottom: 35px;
}

#navlinks #logo {
    line-height: 75px;
}

#navlinks li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navlinks a {
    text-decoration: none;
    color: inherit;
}

#navlinks a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Meet Coco */

#meet-coco {
    height: 600px;
}

#welcome {
    padding-top: 10px;
    font-size: 200%;
    text-align: center;
}

.grid1 {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1px 5px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
  align-items: stretch; 
}

#left-about{
    padding-top: 30px;
    float: left;
}

#right-about {
    padding-top: 30px;
    float: right;
}

#center-about {
    margin: 0 auto;
}

.left-about-heading {
    width: 70%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* center image */


#circle-container {
    width: 300px;
    height: 300px;
    padding-top: 30px;
    border-style: solid;
    border-color: gold;
    border-width: 0px;
    border-radius: 50%;
    margin: 0 auto;
	
}

#circle-cover-bg {
    background: url("../images/main.jpg") no-repeat center center;
    height: 100%;
    padding: 30px;
	border-style: solid;
	border-width: 10px;
	border-color: gold;
    border-radius: 50%;
	
/* animates the zoom effect on loading page */
    animation-name: coco-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for the Coco image */
@keyframes coco-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1)
    }
}

#map-wrapper {
	text-align: center;
    height: 175px;
    margin-bottom: 5px;
}

#map {
    height: 100%;
    width: 100%;
    border: 2px;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 5px;
}

#gallery > img {
    width: 100%;
	margin-bottom: 5px;
}

#bloghead {
    padding-top: 50px;
    font-size: 200%;
    text-align: center;
}
.blogpost {
    padding: 10px;
	text-align:center;
}

#aboutu {
    padding-top: 50px;
    font-size: 125%;
    text-align: center;
    text-transform: capitalize;
 }

 /* Media queries */
/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #navlinks{
        clear: left;
        float: left;
        margin-left: 10px; 
        margin-bottom: 10px;
        line-height: 15px;
        font-size: 110%;
        letter-spacing: 1px;
        padding-bottom: 1px;
    }

    #cover-text{
        left:0px;
    }
    #meet-coco{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
        font-size: 100%;
        text-align: left;
        float: left;
    }

    .grid1 {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 1px 5px; 
        grid-template-areas: 
          "."
          "."
          "."
          "."
          "."
          "."; 
        align-items: stretch; 
      }

    .left-about-heading {
        width: 100%;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }


    .right-about-heading p {
        text-align: left;
    }
    
    .right-about-heading h2 {
        text-align: left;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

    #gallery{
        column-count: 1;
    }

    #map-wrapper {
        padding-top: 10%;
    }
    
    #map {
    padding-top: 10%;
    }

    #logo {
        text-align: center;
        font-size: 100%;
        margin-left: 30px;
    }

}