* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif, sans-serif;
	color: white;	
}


body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 20px;
}

footer {
    height: 10px;
}

.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: blue;
}

/* navigation links */

#navlinks {
    font-size: 110%;
    letter-spacing: 4px;
}

#navlinks #logo {
    line-height: 75px;
}

#navlinks li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navlinks a {
    text-decoration: none;
    color: inherit;
}

#navlinks a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}


#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 5px;
	
}

#gallery > img {
    width: 100%;
	margin-bottom: 5px;
}

